{% extends 'base.html.twig' %}

{% block title %}
    ARTICLE
{% endblock %}

{% block body %}
    <h1> This is article of {{ article.title }}</h1>
    <p>{{ article.body }}</p>
    <hr>
    <a href="/"> Go back<a/>

{% endblock %}